.post{
    width: 100%;
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h3{
        cursor: pointer;
    }
    
    p{
        padding: 1rem 0;
    }

    .commentSection{
        color: #777;
    }
}